Connected Services/SearchWebService/SearhWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentIdToFindStudent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentIdToPrint" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentResult" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthday" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gsm" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="HowManyAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HowManyAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HowManyAdressResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentIdToPrint" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="adressNo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdressResult" type="tns:Adress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Adress">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StudentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Neighborhood" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindRecordSoapIn">
    <wsdl:part name="parameters" element="tns:FindRecord" />
  </wsdl:message>
  <wsdl:message name="FindRecordSoapOut">
    <wsdl:part name="parameters" element="tns:FindRecordResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="GetStudentSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="HowManyAdressSoapIn">
    <wsdl:part name="parameters" element="tns:HowManyAdress" />
  </wsdl:message>
  <wsdl:message name="HowManyAdressSoapOut">
    <wsdl:part name="parameters" element="tns:HowManyAdressResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdressSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdress" />
  </wsdl:message>
  <wsdl:message name="GetAdressSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdressResponse" />
  </wsdl:message>
  <wsdl:portType name="SearhWebServiceSoap">
    <wsdl:operation name="FindRecord">
      <wsdl:input message="tns:FindRecordSoapIn" />
      <wsdl:output message="tns:FindRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input message="tns:GetStudentSoapIn" />
      <wsdl:output message="tns:GetStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HowManyAdress">
      <wsdl:input message="tns:HowManyAdressSoapIn" />
      <wsdl:output message="tns:HowManyAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdress">
      <wsdl:input message="tns:GetAdressSoapIn" />
      <wsdl:output message="tns:GetAdressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearhWebServiceSoap" type="tns:SearhWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindRecord">
      <soap:operation soapAction="http://tempuri.org/FindRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HowManyAdress">
      <soap:operation soapAction="http://tempuri.org/HowManyAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdress">
      <soap:operation soapAction="http://tempuri.org/GetAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearhWebServiceSoap12" type="tns:SearhWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindRecord">
      <soap12:operation soapAction="http://tempuri.org/FindRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap12:operation soapAction="http://tempuri.org/GetStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HowManyAdress">
      <soap12:operation soapAction="http://tempuri.org/HowManyAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdress">
      <soap12:operation soapAction="http://tempuri.org/GetAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearhWebService">
    <wsdl:port name="SearhWebServiceSoap" binding="tns:SearhWebServiceSoap">
      <soap:address location="http://localhost:54301/SearhWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SearhWebServiceSoap12" binding="tns:SearhWebServiceSoap12">
      <soap12:address location="http://localhost:54301/SearhWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>